header {
    background-image: url(https://github.com/aryof/gambar-proyek-html-css-1/blob/main/Coffe%20Header.png?raw=true);
    background-size: cover;
    width: 100%;
    height: 700px;
    z-index: -10px;
}

.header-wrap {
    background-color: #143642B2;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.header-wrap img {
    width: 335px;
    height: 67px;
    margin-top: 39px;
    margin-left: 138px;
}

.header-text h1 {
    position: absolute;
    width: 487px;
    height: 168px;
    left: 400px;
    top: 239px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 84px;
    text-align: center;

    color: white;
}

.header-text p {
    position: absolute;
    width: 499px;
    height: 43px;
    left: 400px;
    top: 430px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: white;
}

.header-right {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
}

.header-right a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 30px;
}

.main-wrapper {
    width: 100%;
    height: 600px;
}

.main-icon-1 {
    width: 690px;
    height: 460px;
    margin-top: 80px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
}

.main-icon-1 img {
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

.maintext-1 {
    position: absolute;
    margin-top: -450px;
    margin-left: 700px;
    width: 452px;
    display: flex;
    flex-wrap: wrap;
}

.maintext-1 h {
    font-size: 48px;
    font-weight: 900;
    font-family: 'Lato';
    color: #0F8B8D;
}

.mainborder-1 {
    width: 278px;
    height: 5px;
    margin-top: -380px;
    margin-right: 280px;
    float: right;
    background-color: orange;
}

.maintext-1 p {
    font-family: 'Lato';
    font-size: 24px;
    font-weight:400;
    margin-top: 50px;
}

.main-icon-2 {
    width: 333px;
    height: 503px;
    margin-top: 110px;
    margin-left: 250px;
}

.main-icon-2 h {
    font-family: 'Lato';
    font-weight: 800;
    font-size: 48px;
    align-items: center;
    display: flex;
    width: 430px;
    height: 57.6px;
    color: #0F8B8D;
}

.mainborder-2 {
    width: 399px;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #EC9A29;
}

.main-icon-2 p {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 24px;
    width: 425px;
    height: 28.8px;
}

.main-icon-2-img {
    margin-top: -120px;
    margin-left: 550px; 
}

.main-icon-2 a {
    position: absolute;
    width: 335px;
    height: 70px;
    left: 250px;
    top: 1560px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #A8201A;
    border-radius: 55px;
}

.see-coffee-tea {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
/* identical to box height */

    text-align: center;
    text-decoration: none;

    color: #F9FBFE;
}

.main-icon-3 {
    position: absolute;
    width: 453px;
    height: 453px;
    left: 253px;
    top: 1795px;
}

.main-icon-3 h {
    position: absolute;
    width: 382px;
    height: 58px;
    left: 545px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #0F8B8D;
}

.mainborder-3 {
    position: absolute;
    width: 381px;
    height: 5px;
    left: 547px;
    top: 140px;
    background: #EC9A29;
}

.main-icon-3 p {
    position: absolute;
    width: 398px;
    height: 87px;
    left: 547px;
    top: 175px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #143642;
}

.main-icon-3 a {
    position: absolute;
    width: 335px;
    height: 70px;
    left: 547px;
    top: 310px;
    
    background: #A8201A;
    border-radius: 55px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.Find-our-cafes {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
    line-height: 29px;
    
    text-align: center;
    text-decoration: none;
    color: #F9FBFE;
}

.sub-main-wrapper-1 {
    display: flex;
    justify-content: center;
}

.btn-IG {
    cursor: pointer;
    color: #EC9A29;
}

.subtitle-2 {
    position: absolute;
    width: 900px;
    height: 58px;
    left: 200px;
    top: 2348px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    
    line-height: 58px;
    text-align: center;
    color: #0F8B8D;
}

.miscellaneous-content {
    margin-top: 600px;
    margin-left: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}

.misc-images {
    width: 33%;
    height: 237px;
    display: flex;
    justify-content: center;
}

.misc-images img {
    display: flex;
    width: 70%;
    height: 237px;
    margin-bottom: 50px;
}

.contact-us h3 {
    position: absolute;
    width: 350px;
    height: 58px;
    left: 450px;
    top: 3080px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #0F8B8D;
}

.contact-us p {
    position: absolute;
    width: 900px;
    height: 29px;
    left: 170px;
    top: 3158px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #143642;
}

.contact-us a {
    position: absolute;
    width: 335px;
    height: 70px;
    left: 455px;
    top: 3207px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #A8201A;
    border-radius: 55px;
}

.contact-text {
    position: absolute;
    width: 113px;
    height: 29px;
    left: 664px;
    top: 3227px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;
    text-decoration: none;

    color: #F9FBFE;
}

footer {
    position: absolute;
    width: 100%;
    height: 460px;
    left: 0px;
    top: 3377px;

    background: #143642;
    border-radius: 30px;
}

.footer-logo {
    position: absolute;
    width: 335px;
    height: 67px;
    left: 138px;
    top: 80px;
}

.mail-contact {
    position: absolute;
    height: 32px;
    width: 40px;
    left: 141px;
    top: 200px;
    border-radius: 0px;
}

.phone-contact {
    position: absolute;
    height: 32px;
    width: 32px;
    left: 215px;
    top: 200px;
    border-radius: 0px;
}

.business-info {
    display: flex;
    flex-direction: row;

    height: 300px;
    margin-left: 650px;
    margin-top: 85px;

    font-family: 'Lato';
    font-size: 24px;
}

.business-info h {
    font-weight: 700;
    color: #EC9A29;
}

.business-products {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.business-products a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.business-location {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    margin-left: 70px;
}

.business-location a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.business-contact {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    margin-left: 70px;
}

.business-contact a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}
